<form action="/" method="post">
    <p>メール：<input id="emailValue" type="text" name="email"></p>
    <p>パスワード：<input id="passValue" type="password" name="password"></p>
    <input id="loginButton" type="submit" value="ログイン">
</form>

<p><a href="./register">新規登録へ</a></p>