
<form action="/auth/login" method="post">
    <div class="form-group">
        <p class="control-label col-sm-2">ユーザID：</p>
        <div class="col-sm-10">
            <input id="emailValue" type="text" name="email">
        </div>
    </div>
    <p>パスワード：<input id="passValue" type="password" name="password"></p>
    <input id="loginButton" type="submit" value="ログイン">
</form>

<p>新規の方は</p>
<p><a href="/register">新規登録へ</a></p>