<form action="/auth/login" method="post">
<<<<<<< HEAD
    <p>ユーザID：<input id="emailValue" type="text" name="email"></p>
=======
    <p>メール：<input id="emailValue" type="text" name="email"></p>
>>>>>>> origin/uchidabranch
    <p>パスワード：<input id="passValue" type="password" name="password"></p>
    <input id="loginButton" type="submit" value="ログイン">
</form>
<p>新規の方は</p>
<p><a href="/register">新規登録へ</a></p>