<<<<<<< HEAD
<form action="/" method="post">
    <p>ユーザID：<input id="emailValue" type="text" name="email"></p>
=======
<form action="/auth/login" method="post">
    <p>メール：<input id="emailValue" type="text" name="email"></p>
>>>>>>> f8ed231fe5b467ae9e3c807856820435adb74acc
    <p>パスワード：<input id="passValue" type="password" name="password"></p>
    <input id="loginButton" type="submit" value="ログイン">
</form>
<p>新規の方は</p>
<p><a href="./register">新規登録へ</a></p>