<%- include("partials/header.ejs", {userid: values[i].user_info_id}) %>
<% if(values != ""){%>
<div class="container">
    <h2><%= values[i].user_info_id %>様のマイページ</h2>
    <div class="row row-0">
        <p class="parmition">未納品</p>
        <div class="row row-0">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>商品名</th>
                    <th>値段</th>
                    <th>日時</th>
                    <th>期限</th>
                    <th>ステータス</th> 
                </tr>
                <!--ループで回す-->
                <tr>
                    <td><%= values[i].auction_id %></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<% }else {%>
    <h2>落札情報はありません</h2>
<% } %>
</body>
</html>
