* {
    margin: 0;
    padding: 0;
    
}

.border{
    border-bottom: solid 1px;
}

.top{
    display: flex;
    justify-content: center;
}

.row{
    /* text-align: center; */
}

.table1{
    text-align: left;
}

#topimg{
    width:90%;
}

.list1{
    display: flex;
    padding-left: 0%;
    /* width: 30%; */
}

.list1 li{
    justify-content: center;
    list-style-type:none;
    font-size: 200%;
}

/* #img{
    width: 50%;
    
} */

.table{
    text-align: center;
}

.money{
    font-size: 200%;
}

.parmitionposition{
    text-align: center;
}

.parmition{
    font-size: 300%;
    text-align: center;
    border-bottom: double 10px;
}

/* #bottom{
    display: flex;
    align-items: flex-end;
} */

/* .parmitionposition{
    display: flex;
    align-items: flex-end;
} */

#detail{
    text-decoration: none;
    border: none;
}

.con{
    border-bottom: solid 1px;
}