* {
    margin: 0;
    padding: 0;
}

/**
*メニューバーデザイン
*/
.back{
    background-color: red;
    padding:0 auto;
    margin-bottom: 1%;
}

.menu{
    display: flex;
}

.atag{
    display: flex;
}

#rogo{
    width: 100px;
    /* position: absolute; */
    left: 20px;
    top: 20px;
}

/**
*検索バー
*/
.input-group{
    justify-content: center;
}

#border{
    margin-top: 1%;
    border:solid 1px;
    border-color: darkgray;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
}