* {
  margin: 0;
  padding: 0;
  
}

.rogo{
  text-align: center;
}

#rogo{

  width: 30%;
}

#submit{
  text-align: center;
}

#loginButton{
  text-align: center;
}

.center{
  text-align: center;
}

.d-grid{
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.form{

}